
.DS_Store
Documents/LaTeX/Report.aux
Documents/LaTeX/Report.bcf
Documents/LaTeX/Report.blg
Documents/LaTeX/Report.bbl
Documents/LaTeX/Report.fls
Documents/LaTeX/Report.lof
Documents/LaTeX/Report.log
Documents/LaTeX/Report.lot
Documents/LaTeX/Report.out
Documents/LaTeX/Report.run.xml
Documents/LaTeX/Report.synctex.gz
Documents/LaTeX/Report.toc
Documents/LaTeX/Sections/Conclusions/conclusions.aux
Documents/LaTeX/Sections/Database_Analysis/database_analysis.aux
Documents/LaTeX/Sections/Database_Design/database_design.aux
Documents/LaTeX/Sections/Database_Implementation/database_implementation.aux
Documents/LaTeX/Sections/Database_Normalization/database_normalization.aux
Documents/LaTeX/Sections/Domain_Description/domain_description.aux
Documents/LaTeX/Sections/References/references.aux
Documents/LaTeX/Sections/Section1/section1.aux
Documents/LaTeX/Report.fdb_latexmk
Code/Docker/dockerInstructions.txt
Documents/Design/.$Design.drawio.bkp
